.progress {
    display: flex;
    justify-content: flex-end;

    width: 0%;
    height: 10px;
    background: #0ac;
    position: fixed;
    top: 0;
    z-index: 10;
    font-size: 0.7em;
}